body {
    background-image: url(./animebg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 2532px;
    font-family: Secular One, regular;
}
.container {
    background-color: rgba(192, 192, 192, 0.55); 
    padding: 10px; 
    color: whitesmoke; 
    width: 980px;
    height: 1800px;
    margin-left: 205px;
    text-align: center;
}

.container-images {
    display: flex;
    align-items: center;
    justify-content: center
}

text {
    font-size: 20px;
    padding-left: 20px;
}

h1  {
    text-align: center;
    margin-top: 50px;
}

img {
    align-items: center;
}

.header {
    padding: 30px;
    text-align: center;
    background: lightblue;
    color: white;
    font-size: 20px;
    margin: -10px;
  }