body {
    background-image: url(./imgs/souleaterbg.jpeg);
    background-size: 210%;
    background-repeat: no-repeat;
    font-family: Secular One, regular;
}

.container {
    background-color: rgba(63, 61, 61, 0.55);
    padding: 10px;
    color: whitesmoke;
    width: 980px;
    margin-left: 205px;
    text-align: center;
    display: block;
}

header {
    padding: 30px;
    text-align: center;
    background: gray;
    color: white;
    font-size: 20px;
    margin-left: 205px;
    width: 939px;
}

.character-profile {
    text-align: center;
    vertical-align: auto;
    display: inline-block;
}

.character-frame {
    border: solid 5px black;
    height: 225px;
    width: 225px;
    float: right;
    margin-top: 30px;
}

.character-frame2 {
    border: solid 5px black;
    height: 225px;
    width: 225px;
    float: left;
    margin-top: 30px;
}

.character-frame3 {
    border: solid 5px black;
    height: 270px;
    width: 205px;
    float: left;
    margin-top: 30px;
}

.character-frame5 {
    border: solid 5px black;
    height: 225px;
    width: 225px;
    float: left;
    margin-top: 5px;
}

.text {
    margin-top: 50px;
}

b {
    color: black;
}

mark {
    color: whitesmoke;
    background-color: black;
}

.buttons {
    display: flex;
    flex-direction: row;
        flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 100px auto;
  /*   padding: 2em 0em; */
  }
  
  
  
  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #F47521;
    outline: solid  2px #F47521;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  .effect04:hover{
  
    background-color: #000;
    outline: solid 2px #000;
  }
  
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }